<div class="npb-fixed-modal-choices-examples" data-model="special-pattern-g">
    <div class="npb-fixed-modal-special-pattern-g-left">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="npb-fixed-modal-special-pattern-g-center">
        <div></div>
    </div>
    <div class="npb-fixed-modal-special-pattern-g-right">
        <div></div>
    </div>
</div>