<div class="frgef--neo-page-builder-fixed-modal-choices-examples" data-model="special-pattern-b">
    <div class="frgef--neo-page-builder-fixed-modal-special-pattern-b-left">
        <div></div>
    </div>
    <div class="frgef--neo-page-builder-fixed-modal-special-pattern-b-right">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>