<div class="npb-fixed-modal-choices-examples" data-model="special-pattern-c">
    <div class="npb-fixed-modal-special-pattern-c-left">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="npb-fixed-modal-special-pattern-c-right">
        <div></div>
    </div>
</div>