<div class="frgef--neo-page-builder-fixed-modal-choices-examples" data-model="special-pattern-f">
    <div class="frgef--neo-page-builder-fixed-modal-special-pattern-f-left">
        <div></div>
    </div>
    <div class="frgef--neo-page-builder-fixed-modal-special-pattern-f-center">
        <div></div>
    </div>
    <div class="frgef--neo-page-builder-fixed-modal-special-pattern-f-right">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>