<div class="frgef--neo-page-builder-fixed-modal-choices-examples" data-model="special-pattern-i">
    <div class="frgef--neo-page-builder-fixed-modal-special-pattern-i-left">
        <div></div>
    </div>
    <div class="frgef--neo-page-builder-fixed-modal-special-pattern-i-right">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>