<div class="frgef--neo-page-builder-fixed-modal-choices-examples" data-model="special-pattern-d">
    <div class="frgef--neo-page-builder-fixed-modal-special-pattern-d-left">
        <div></div>
    </div>
    <div class="frgef--neo-page-builder-fixed-modal-special-pattern-d-right">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>