<div class="frgef--neo-page-builder-fixed-modal-choices-examples" data-model="special-pattern-e">
    <div class="frgef--neo-page-builder-fixed-modal-special-pattern-e-left">
        <div></div>
    </div>
    <div class="frgef--neo-page-builder-fixed-modal-special-pattern-e-center">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="frgef--neo-page-builder-fixed-modal-special-pattern-e-right">
        <div></div>
    </div>
</div>