<div id="npb-fixed-modal-block-choice" class="npb-fixed-modal">
    <div class="npb-fixed-modal-container">
        <div class="npb-fixed-modal-header">
            <p class="npb-fixed-modal-title">{{ 'insert.block'|trans }}</p>
            <div class="npb-fixed-modal-close-wrapper">
                {% include 'builder/components/icons/headband/close.html.twig' %}
            </div>
        </div>
        <div class="npb-fixed-modal-choices-container{% if isFullScreen == true %} npb-fixed-modal-choices-container-fullscreen{% endif %}">
            {% for block in get_block_choices(isFullScreen) %}
                <div class="npb-fixed-modal-blocks-choices-examples" data-model="{{ block }}">
                    {% include 'builder/components/icons/block-choices/' ~ block ~'.html.twig' %}
                    <span>{{ block }}</span>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
