<div id="frgef--neo-page-builder-fixed-modal-row-choice" class="frgef--neo-page-builder-fixed-modal">
    <div class="frgef--neo-page-builder-fixed-modal-container">
        <div class="frgef--neo-page-builder-fixed-modal-header">
            <p class="frgef--neo-page-builder-fixed-modal-title">
                {%  include '@!NeoPageBuilder/components/icons/headband/go-back-arrow.html.twig' %}
                {{ 'insert.row'|trans }}
            </p>
            <div class="frgef--neo-page-builder-fixed-modal-close-wrapper">
                {% include '@!NeoPageBuilder/components/icons/headband/close.html.twig' %}
            </div>
        </div>
        <div class="frgef--neo-page-builder-fixed-modal-choices-container">
            {% include '@!NeoPageBuilder/components/modals/choices/rows/normal.html.twig' %}
            {% include '@!NeoPageBuilder/components/modals/choices/rows/special.html.twig' %}
            {% include '@!NeoPageBuilder/components/modals/choices/rows/full.html.twig' %}
        </div>
    </div>
</div>
