:root {
    --main-value: 108, 46, 185;
    --main-hover-value: 174, 133, 224;
    --row-value: 43, 135, 218;
    --section-value: 41, 196, 169;
    --block-value: 76, 88, 102;
    --full-block-value: 153, 51, 102;
    --danger-value: 239, 85, 85;
    --warning-value: 255, 146, 50;
    --gold-value: 235, 195, 52;
    --white-value: 255, 255, 255;
    --dark-value: 89, 89, 89;

    --main-color: rgb(var(--main-value));
    --main-hover-color: rgb(var(--main-hover-value));
    --row-color: rgb(var(--row-value));
    --section-color: rgb(var(--section-value));
    --block-color: rgb(var(--block-value));
    --full-block-color: rgb(var(--full-block-value));
    --danger-color: rgb(var(--danger-value));
    --warning-color: rgb(var(--warning-value));
    --gold-color: rgb(var(--gold-value));
    --white-color: rgb(var(--white-value));
    --text-color: rgb(var(--white-value));
    --dark-color: rgb(var(--dark-value));

    --placeholder-bg-main-color: rgba(var(--main-value), 0.1);
    --placeholder-bg-row-color: rgba(var(--row-value), 0.1);
    --placeholder-bg-section-color: rgba(var(--section-value), 0.1);
    --placeholder-bg-block-color: rgba(var(--block-value), 0.4);
    --placeholder-bg-full-block-color: rgba(var(--full-block-value), 0.4);
    --placeholder-bg-warning-color: rgba(var(--warning-value), 0.1);
    --placeholder-bg-gold-color: rgba(var(--gold-value), 0.1);
    --placeholder-bg-white-color: rgba(var(--white-value), 0.4);
    --placeholder-bg-dark-color: rgba(var(--white-value), 0.2);

    --bg-color-1: var(--white-color);
    --bg-color-2: #F6F9FB;
    --bg-color-3: #e1e1e1;
    --bg-color-4: #a1a1a1;
    --bg-color-5: var(--dark-color);
    --bg-color-6: #808080;
}

@font-face {
    font-family: 'jetbrains';
    src: url('/bundles/neopagebuilder/fonts/jetbrainsmono-variablefont_wght-webfont.woff2') format('woff2'),
    url('/bundles/neopagebuilder/fonts/jetbrainsmono-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#frgef--neo-page-builder ::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

#frgef--neo-page-builder ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100px;
}

#frgef--neo-page-builder ::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 100px;
    background-clip: padding-box;
    border: 5px solid transparent;
    -webkit-border-radius: 100px;
    -webkit-box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.05), inset 1px 1px 0 rgba(0, 0, 0, 0.05);
    -webkit-transition: all linear 0.2s;
}

#frgef--neo-page-builder ::-webkit-scrollbar-thumb:hover {
    background-color: var(--row-color);
}

#frgef--neo-page-builder ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

#frgef--neo-page-builder ::-webkit-scrollbar-corner {
    background-color: transparent;
}

#frgef--neo-page-builder, #frgef--neo-page-builder * {
    box-sizing: border-box;
}

#frgef--neo-page-builder.frgef--neo-page-builder-loaded {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

#frgef--neo-page-builder:not(.frgef--neo-page-builder-loaded) {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#frgef--neo-page-builder:not(.frgef--neo-page-builder-loaded):after {
    width: 40px;
    height: 40px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%2329c4a9' d='M304 48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zm0 416a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM48 304a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm464-48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM142.9 437A48 48 0 1 0 75 369.1 48 48 0 1 0 142.9 437zm0-294.2A48 48 0 1 0 75 75a48 48 0 1 0 67.9 67.9zM369.1 437A48 48 0 1 0 437 369.1 48 48 0 1 0 369.1 437z'/%3E%3C/svg%3E");
    background-size: 40px 40px;
    transform-origin: 50% 50%;
    -webkit-animation: loaderRotate ease-in-out 1.5s infinite;
    -o-animation: loaderRotate ease-in-out 1.5s infinite;
    animation: loaderRotate ease-in-out 1.5s infinite;
}

@keyframes loaderRotate {
    0% {transform: rotate(0)}
    100% {transform: rotate(360deg)}
}

#frgef--neo-page-builder-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

#frgef--neo-page-builder-rows-wrapper {
    padding: 0 20px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--bg-color-1);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.05);
    min-height: 80px;
}

#frgef--neo-page-builder-header {
    background-color: var(--main-color);
    color: var(--text-color);
    padding: 0 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 50px;
    position: relative;
}

#frgef--neo-page-builder-headband-master {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

#frgef--neo-page-builder-headband-header-master {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 330px;
    max-width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
}

[id^="frgef--neo-page-builder-headband"] button, [class^="frgef--neo-page-builder-headband"] button {
    background-color: transparent;
    border: none;
}

.frgef--neo-page-builder-row, .frgef--neo-page-builder-section, .frgef--neo-page-builder-block {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.frgef--neo-page-builder-row {
    background-color: var(--bg-color-2);
    width: 100%;
    align-items: flex-start;
    min-height: 130px;
    padding-bottom: 40px;
    margin-top: 20px;
}

.frgef--neo-page-builder-row-full {
    padding-bottom: 20px;
}

.frgef--neo-page-builder-section {
    background-color: var(--bg-color-1);
    align-items: flex-start;
    width: calc(100% - 40px);
    margin: 20px 0 0;
    padding-bottom: 20px;
}

.frgef--neo-page-builder-row, .frgef--neo-page-builder-section {
    border-radius: 3px;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--bg-color-3);
}

.frgef--neo-page-builder-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 20px;
}

.frgef--neo-page-builder-row-special .frgef--neo-page-builder-add-row .frgef--neo-page-builder-button-bg {
    background-color: var(--warning-color);
}

.frgef--neo-page-builder-row-full .frgef--neo-page-builder-add-row .frgef--neo-page-builder-button-bg {
    background-color: var(--main-color);
}

.frgef--neo-page-builder-add-row .frgef--neo-page-builder-button-bg {
    background-color: var(--row-color);
}

.frgef--neo-page-builder-add-section .frgef--neo-page-builder-button-bg {
    background-color: var(--section-color);
}

.frgef--neo-page-builder-section-special .frgef--neo-page-builder-add-section .frgef--neo-page-builder-button-bg,
.frgef--neo-page-builder-row-special-section .frgef--neo-page-builder-initial-add-section-btn .frgef--neo-page-builder-add-section .frgef--neo-page-builder-button-bg {
    background-color: var(--gold-color);
}

.frgef--neo-page-builder-row:not(.frgef--neo-page-builder-row-full) .frgef--neo-page-builder-add-block .frgef--neo-page-builder-button-bg {
    background-color: var(--block-color);
}

.frgef--neo-page-builder-row-full .frgef--neo-page-builder-add-block .frgef--neo-page-builder-button-bg {
    background-color: var(--full-block-color);
}

.frgef--neo-page-builder-add-row, .frgef--neo-page-builder-add-section {
    position: absolute;
    z-index: 2;
    bottom: -21px;
    left: calc(50% - 20px);
    transition: left linear 0.2s, bottom linear 0.2s;
}

.frgef--neo-page-builder-add-block {
    position: relative;
}

.frgef--neo-page-builder-add-row, .frgef--neo-page-builder-add-section, .frgef--neo-page-builder-add-block {
    color: var(--text-color);
    font-weight: bold;
    border: none;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background-color: transparent;
}

.frgef--neo-page-builder-button-bg {
    width: 30px;
    height: 30px;
    border-radius: 2000px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 0;
    cursor: pointer;
    transform-origin: 50% 50%;
    transform: scale(1);
    transition: transform linear 0.2s;
}

.frgef--neo-page-builder-button-symbol {
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.frgef--neo-page-builder-placeholder, .frgef--neo-page-builder-section-placeholder {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.frgef--neo-page-builder-block-placeholder-regular, .frgef--neo-page-builder-block-placeholder-fullscreen {
    display: flex;
    margin-bottom: 10px;
    width: calc(100% - 40px);
}

.frgef--neo-page-builder-block-placeholder-regular {
    background-color: var(--placeholder-bg-block-color);
    border: 2px solid var(--block-color);
}

.frgef--neo-page-builder-row-special-blocks .frgef--neo-page-builder-block-placeholder-regular {
    width: calc(100% - 20px);
}

.frgef--neo-page-builder-block-placeholder-fullscreen {
    background-color: var(--placeholder-bg-full-block-color);
    border: 2px solid var(--full-block-color);
}

.frgef--neo-page-builder-placeholder-row-full {
    background-color: var(--placeholder-bg-main-color);
    border: 2px solid var(--main-color);
}

.frgef--neo-page-builder-placeholder-row-normal {
    background-color: var(--placeholder-bg-row-color);
    border: 2px solid var(--row-color);
}

.frgef--neo-page-builder-placeholder-row-special {
    background-color: var(--placeholder-bg-warning-color);
    border: 2px solid var(--warning-color);
}

.frgef--neo-page-builder-section-placeholder {
    background-color: var(--placeholder-bg-section-color);
    border: 2px solid var(--section-color);
    width: calc(100% - 40px);
}

.frgef--neo-page-builder-row-special-section .frgef--neo-page-builder-section-placeholder {
    background-color: var(--placeholder-bg-gold-color);
    border: 2px solid var(--gold-color);
}

.frgef--neo-page-builder-headband {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    cursor: all-scroll;
}

.frgef--neo-page-builder-headband-block {
    justify-content: space-between;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.25);
    overflow: unset;
}

.frgef--neo-page-builder-headband:not(.frgef--neo-page-builder-headband-block) {
    position: relative;
    z-index: 2;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    justify-content: flex-start;
}

.frgef--neo-page-builder-row-normal .frgef--neo-page-builder-headband-row {
    background-color: var(--row-color);
}

.frgef--neo-page-builder-row-special .frgef--neo-page-builder-headband-row  {
    background-color: var(--warning-color);
}

.frgef--neo-page-builder-row-full .frgef--neo-page-builder-headband-row  {
    background-color: var(--main-color);
}

.frgef--neo-page-builder-headband-section {
    background-color: var(--section-color);
}

.frgef--neo-page-builder-section-special .frgef--neo-page-builder-headband-section {
    background-color: var(--gold-color);
}

.frgef--neo-page-builder-headband-block {
    border-radius: 3px;
    position: relative;
}

.frgef--neo-page-builder-headband-block:not(.frgef--neo-page-builder-headband-block-fullscreen) {
    background-color: var(--block-color);
}

.frgef--neo-page-builder-headband-block-fullscreen {
    background-color: var(--full-block-color);
}

.frgef--neo-page-builder-headband-input-block {
    padding: 0 10px;
    direction: rtl;
}

.frgef--neo-page-builder-headband-input {
    position: relative;
    border: none;
    outline: none;
    background-color: transparent;
    width: max-content;
    text-align: center;
    color: var(--text-color);
    font-weight: bold;
    font-size: 14px;
    max-width: 100%;
    margin: 8px 0;
    font-family: 'jetbrains', sans-serif;
}

.frgef--neo-page-builder-headband-input:not(.frgef--neo-page-builder-headband-input-block) {
    padding: 0 34px 0 10px;
}

.frgef--neo-page-builder-headband-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    background-color: inherit;
    flex-wrap: wrap;
    border-radius: 3px;
}

.frgef--neo-page-builder-headband-header-expand {
    background-color: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    transform-origin: 50% 50%;
    transform: rotate(0);
    transition: transform linear 0.1s;
    padding: 10px 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.frgef--neo-page-builder-headband-header-expand[aria-expanded="true"] {
    transform: rotate(180deg);
}

.frgef--neo-page-builder-headband-header-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px 0 10px 10px;
}

.frgef--neo-page-builder-headband-header-icon-container-drag {
    cursor: all-scroll;
}

.frgef--neo-page-builder-headband-header-expand svg {
    width: 14px;
    height: 14px;
    color: var(--text-color);
}

.frgef--neo-page-builder-headband-header-icon-container svg {
    color: var(--text-color);
    width: 14px;
    height: 14px;
}

.frgef--neo-page-builder-headband-header-icon-container svg path, .frgef--neo-page-builder-headband-header-expand svg path {
    fill: currentColor;
}

.frgef--neo-page-builder-headband-header-icon-container-exchange {
    transform-origin: 50% 50%;
    transform: rotate(90deg);
}

#frgef--neo-page-builder-headband-header-master .frgef--neo-page-builder-headband-header-icon-container-save svg {
    width: 15px;
    height: 15px;
}

#frgef--neo-page-builder-headband-header-master .frgef--neo-page-builder-headband-header-icon-container {
    width: 30px;
    height: 30px;
    border-radius: 200px;
}

#frgef--neo-page-builder-headband-header-master .frgef--neo-page-builder-headband-header-icon-container:not(.frgef--neo-page-builder-headband-header-icon-container-save) svg {
    width: 14px;
    height: 14px;
}

.frgef--neo-page-builder-hide-expanded {
    padding: 0;
    min-height: unset;
}

.frgef--neo-page-builder-hide-expanded > .frgef--neo-page-builder-headband {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.frgef--neo-page-builder-hide-expanded > *:not(.frgef--neo-page-builder-headband) {
    display: none;
}

#frgef--neo-page-builder-initial-add-row-btn {
    bottom: 20px;
}

.frgef--neo-page-builder-initial-add-section-btn {
    bottom: 25px;
}

#frgef--neo-page-builder-initial-add-row-btn, .frgef--neo-page-builder-initial-add-section-btn {
    width: calc(100% - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 40px;
    z-index: 1;
}

#frgef--neo-page-builder-initial-add-row-btn .frgef--neo-page-builder-add-row,
.frgef--neo-page-builder-initial-add-section-btn .frgef--neo-page-builder-add-section {
    position: relative;
    z-index: unset;
    bottom: unset;
    left: unset;
}

#frgef--neo-page-builder-headband-header-master > button:active, .frgef--neo-page-builder-fixed-modal-close-wrapper:active {
    background-color: var(--main-hover-color);
}

#frgef--neo-page-builder-headband-header-master > button:not(:active), .frgef--neo-page-builder-fixed-modal-close-wrapper {
    background-color: transparent;
    transition: background-color linear 0.2s;
}

#frgef--neo-page-builder-headband-master-logo {
    position: relative;
    z-index: 1;
}

#frgef--neo-page-builder-headband-header-master > .frgef--neo-page-builder-headband-header-icon-container:first-of-type {
    margin-left: 0;
}

.frgef--neo-page-builder-hide-initial-btn {
    display: none!important;
}

#frgef--neo-page-builder-tooltip {
    display: flex;
    align-items: center;
    text-align: center;
    width: max-content;
    padding: 8px 20px;
    position: fixed;
    z-index: 999999;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    border-radius: 4px;
    font-family: inherit;
    font-weight: bold;
    animation: displayTooltip linear 1s;
}

@keyframes displayTooltip {
    0% {opacity: 0;}
    85% {opacity: 0;}
    100% {opacity: 1;}
}

.frgef--neo-page-builder-tooltip-position-center {
    justify-content: center;
}

.frgef--neo-page-builder-tooltip-position-left {
    justify-content: flex-start;
}

.frgef--neo-page-builder-tooltip-position-right {
    justify-content: flex-end;
}

#frgef--neo-page-builder-tooltip:after {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 10px solid rgba(0, 0, 0, 0.8);
    border-right: 10px solid transparent;
    transform-origin: 50% 50%;
    position: absolute;
    z-index: 0;
}

.frgef--neo-page-builder-tooltip-position-top:after {
    bottom: -5px;
    transform: rotate(-45deg);
}

.frgef--neo-page-builder-tooltip-position-bottom:after {
    top: -5px;
    transform: rotate(135deg);
}

.frgef--neo-page-builder-tooltip-position-left:after {
    left: 10px;
}

.frgef--neo-page-builder-tooltip-position-right:after {
    right: 10px;
}

.frgef--neo-page-builder-fixed-modal-container {
    background-color: var(--bg-color-1);
    position: relative;
    z-index: 4;
}

.frgef--neo-page-builder-fixed-modal-header-settings .frgef--neo-page-builder-fixed-modal-container {
    background-color: var(--bg-color-5);
    border-radius: 4px;
}

.frgef--neo-page-builder-fixed-modal-header {
    padding: 21px 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--main-color);
    position: relative;
}

.frgef--neo-page-builder-fixed-modal-title {
    color: var(--bg-color-1);
    font-family: inherit;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.frgef--neo-page-builder-fixed-modal-title svg {
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    color: var(--bg-color-1);
}

.frgef--neo-page-builder-fixed-modal-title svg path {
    fill: currentColor;
}

.frgef--neo-page-builder-fixed-modal-close-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 36px;
    height: 36px;
    position: absolute;
    border-radius: 3px;
    top: 14px;
    right: 14px;
}

.frgef--neo-page-builder-fixed-modal-close-wrapper svg {
    width: 16px;
    height: 16px;
    color: var(--bg-color-1);
}

.frgef--neo-page-builder-fixed-modal-close-wrapper svg path {
    fill: currentColor;
}

@keyframes bounceModal {
    0% {opacity: 0;transform: scale(1);}
    20% {opacity: 0;transform: scale(1);}
    40% {transform: scale(0.92);}
    50% {opacity: 1;}
    60% {transform: scale(1);}
    80% {transform: scale(0.98);}
    100% {transform: scale(1);}
}

@keyframes bounceModal2 {
    0% {opacity: 0;transform: scale(1) translate(0, calc(-100% - 20px));}
    20% {opacity: 0;transform: scale(1) translate(0, calc(-100% - 20px));}
    40% {transform: scale(0.92) translate(0, calc(-100% - 20px));}
    50% {opacity: 1;}
    60% {transform: scale(1) translate(0, calc(-100% - 20px));}
    80% {transform: scale(0.98) translate(0, calc(-100% - 20px));}
    100% {transform: scale(1) translate(0, calc(-100% - 20px));}
}

.frgef--neo-page-builder-fixed-modal-choices-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 0 20px 20px;
    overflow-y: auto;
}

.frgef--neo-page-builder-fixed-modal-blocks-choices-examples span {
    height: calc(100% - 19px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frgef--neo-page-builder-fixed-modal-choices-container-special [class^="frgef--neo-page-builder-fixed-modal-sections-choices-examples-"] {
    background-color: var(--gold-color);
}

.frgef--neo-page-builder-fixed-modal-choices-container > div:not(.frgef--neo-page-builder-fixed-modal-blocks-choices-examples):nth-child(3n + 2) {
    margin-left: 15px;
    margin-right: 15px;
}

.frgef--neo-page-builder-fixed-modal-blocks-choices-examples {
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    transform-origin: 50% 50%;
    transform: scale(1);
    padding: 10px;
    font-size: 13px;
    font-family: inherit;
    font-weight: bold;
    text-align: center;
    border: 1px solid var(--bg-color-3);
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0);
    transition: transform linear 0.15s, box-shadow linear 0.15s;
}

.frgef--neo-page-builder-fixed-modal-blocks-choices-examples:nth-child(2n + 2) {
    margin-left: 20px;
}

.frgef--neo-page-builder-fixed-modal-choices-examples,
.frgef--neo-page-builder-fixed-modal-sections-choices-examples {
    width: calc(33.33% - 10px);
    display: flex;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    transform-origin: 50% 50%;
    transform: scale(1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0);
    transition: transform linear 0.15s, box-shadow linear 0.15s;
}

.frgef--neo-page-builder-fixed-modal-choices-examples {
    justify-content: center;
}

.frgef--neo-page-builder-fixed-modal-sections-choices-examples {
    height: 32px;
    border-radius: 4px;
    justify-content: space-between;
}

.frgef--neo-page-builder-fixed-modal-choices-examples span {
    font-size: 13px;
    font-weight: bold;
    color: var(--bg-color-1);
}

[class^="frgef--neo-page-builder-fixed-modal-sections-choices-examples-"] {
    background-color: var(--section-color);
    height: 100%;
}

.frgef--neo-page-builder-fixed-modal-sections-choices-examples > div:first-of-type {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.frgef--neo-page-builder-fixed-modal-sections-choices-examples > div:last-of-type {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.frgef--neo-page-builder-fixed-modal-choices-special-full {
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: var(--main-color);
}

.frgef--neo-page-builder-fixed-modal-choices-normal-row-center {
    width: calc(80% - 4px);
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--row-color);
}

.frgef--neo-page-builder-fixed-modal-choices-normal-row {
    width: calc(10% - 2px);
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--row-color);
    opacity: 0.7;
}

.frgef--neo-page-builder-fixed-modal-choices-normal-row:first-of-type {
    margin-right: 2px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.frgef--neo-page-builder-fixed-modal-choices-normal-row:last-of-type,
.frgef--neo-page-builder-fixed-modal-choices-special-row-right {
    margin-left: 2px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.frgef--neo-page-builder-fixed-modal-choices-special-row-left {
    width: calc(80% - 2px);
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    background-color: var(--danger-color);
}

.frgef--neo-page-builder-fixed-modal-choices-special-row-right {
    background-color: var(--warning-color);
    width: calc(20% - 2px);
    height: 32px;
}

.frgef--neo-page-builder-fixed-modal-hide-elements {
    display: none!important;
}

.frgef--neo-page-builder-fixed-modal-choices-examples-special-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

[class^="frgef--neo-page-builder-fixed-modal-special-pattern"] {
    height: 50px;
    overflow: hidden;
}

.frgef--neo-page-builder-fixed-modal-special-pattern-a-left,
.frgef--neo-page-builder-fixed-modal-special-pattern-a-right,
.frgef--neo-page-builder-fixed-modal-special-pattern-b-left,
.frgef--neo-page-builder-fixed-modal-special-pattern-b-right,
.frgef--neo-page-builder-fixed-modal-special-pattern-e-center,
.frgef--neo-page-builder-fixed-modal-special-pattern-f-right,
.frgef--neo-page-builder-fixed-modal-special-pattern-g-left {
    width: calc(50% - 2px);
}

.frgef--neo-page-builder-fixed-modal-special-pattern-c-left,
.frgef--neo-page-builder-fixed-modal-special-pattern-d-right {
    width: calc(75% - 2px);
}

.frgef--neo-page-builder-fixed-modal-special-pattern-c-right,
.frgef--neo-page-builder-fixed-modal-special-pattern-d-left,
.frgef--neo-page-builder-fixed-modal-special-pattern-e-left,
.frgef--neo-page-builder-fixed-modal-special-pattern-e-right,
.frgef--neo-page-builder-fixed-modal-special-pattern-f-center,
.frgef--neo-page-builder-fixed-modal-special-pattern-f-left,
.frgef--neo-page-builder-fixed-modal-special-pattern-g-right,
.frgef--neo-page-builder-fixed-modal-special-pattern-g-center {
    width: calc(25% - 2px);
}

.frgef--neo-page-builder-fixed-modal-special-pattern-h-left,
.frgef--neo-page-builder-fixed-modal-special-pattern-i-right {
    width: calc(66.66% - 2px);
}

.frgef--neo-page-builder-fixed-modal-special-pattern-h-right,
.frgef--neo-page-builder-fixed-modal-special-pattern-i-left {
    width: calc(33.33% - 2px);
}

.frgef--neo-page-builder-fixed-modal-special-pattern-f-center {
    margin-right: 4px;
}

.frgef--neo-page-builder-fixed-modal-special-pattern-g-center {
    margin-left: 4px;
}

.frgef--neo-page-builder-fixed-modal-special-pattern-a-right,
.frgef--neo-page-builder-fixed-modal-special-pattern-c-right,
.frgef--neo-page-builder-fixed-modal-special-pattern-h-right,
.frgef--neo-page-builder-fixed-modal-special-pattern-e-right,
.frgef--neo-page-builder-fixed-modal-special-pattern-g-right {
    margin-left: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.frgef--neo-page-builder-fixed-modal-special-pattern-b-left,
.frgef--neo-page-builder-fixed-modal-special-pattern-d-left,
.frgef--neo-page-builder-fixed-modal-special-pattern-i-left,
.frgef--neo-page-builder-fixed-modal-special-pattern-e-left,
.frgef--neo-page-builder-fixed-modal-special-pattern-f-left {
    margin-right: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.frgef--neo-page-builder-fixed-modal-special-pattern-a-left,
.frgef--neo-page-builder-fixed-modal-special-pattern-b-right,
.frgef--neo-page-builder-fixed-modal-special-pattern-c-left,
.frgef--neo-page-builder-fixed-modal-special-pattern-d-right,
.frgef--neo-page-builder-fixed-modal-special-pattern-h-left,
.frgef--neo-page-builder-fixed-modal-special-pattern-i-right,
.frgef--neo-page-builder-fixed-modal-special-pattern-e-center,
.frgef--neo-page-builder-fixed-modal-special-pattern-f-right,
.frgef--neo-page-builder-fixed-modal-special-pattern-g-left {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.frgef--neo-page-builder-fixed-modal-special-pattern-a-left div,
.frgef--neo-page-builder-fixed-modal-special-pattern-b-right div,
.frgef--neo-page-builder-fixed-modal-special-pattern-c-left div,
.frgef--neo-page-builder-fixed-modal-special-pattern-d-right div,
.frgef--neo-page-builder-fixed-modal-special-pattern-h-left div,
.frgef--neo-page-builder-fixed-modal-special-pattern-i-right div,
.frgef--neo-page-builder-fixed-modal-special-pattern-e-center div,
.frgef--neo-page-builder-fixed-modal-special-pattern-f-right div,
.frgef--neo-page-builder-fixed-modal-special-pattern-g-left div {
    background-color: var(--section-color);
    height: calc(50% - 2px);
}

.frgef--neo-page-builder-fixed-modal-special-pattern-a-left div:first-of-type,
.frgef--neo-page-builder-fixed-modal-special-pattern-b-right div:first-of-type,
.frgef--neo-page-builder-fixed-modal-special-pattern-c-left div:first-of-type,
.frgef--neo-page-builder-fixed-modal-special-pattern-d-right div:first-of-type,
.frgef--neo-page-builder-fixed-modal-special-pattern-h-left div:first-of-type,
.frgef--neo-page-builder-fixed-modal-special-pattern-i-right div:first-of-type,
.frgef--neo-page-builder-fixed-modal-special-pattern-e-center div:first-of-type,
.frgef--neo-page-builder-fixed-modal-special-pattern-f-right div:first-of-type,
.frgef--neo-page-builder-fixed-modal-special-pattern-g-left div:first-of-type {
    width: 100%;
}

.frgef--neo-page-builder-fixed-modal-special-pattern-a-left div:first-of-type,
.frgef--neo-page-builder-fixed-modal-special-pattern-c-left div:first-of-type,
.frgef--neo-page-builder-fixed-modal-special-pattern-h-left div:first-of-type,
.frgef--neo-page-builder-fixed-modal-special-pattern-g-left div:first-of-type {
    border-top-left-radius: 4px;
}

.frgef--neo-page-builder-fixed-modal-special-pattern-a-left div:nth-child(2),
.frgef--neo-page-builder-fixed-modal-special-pattern-c-left div:nth-child(2),
.frgef--neo-page-builder-fixed-modal-special-pattern-h-left div:nth-child(2),
.frgef--neo-page-builder-fixed-modal-special-pattern-g-left div:nth-child(2) {
    border-bottom-left-radius: 4px;
}

.frgef--neo-page-builder-fixed-modal-special-pattern-b-right div:first-of-type,
.frgef--neo-page-builder-fixed-modal-special-pattern-d-right div:first-of-type,
.frgef--neo-page-builder-fixed-modal-special-pattern-i-right div:first-of-type,
.frgef--neo-page-builder-fixed-modal-special-pattern-f-right div:first-of-type {
    border-top-right-radius: 4px;
}

.frgef--neo-page-builder-fixed-modal-special-pattern-b-right div:last-of-type,
.frgef--neo-page-builder-fixed-modal-special-pattern-d-right div:last-of-type,
.frgef--neo-page-builder-fixed-modal-special-pattern-i-right div:last-of-type,
.frgef--neo-page-builder-fixed-modal-special-pattern-f-right div:last-of-type {
    border-bottom-right-radius: 4px;
}

.frgef--neo-page-builder-fixed-modal-special-pattern-a-left div:not(:first-of-type),
.frgef--neo-page-builder-fixed-modal-special-pattern-b-right div:not(:first-of-type),
.frgef--neo-page-builder-fixed-modal-special-pattern-c-left div:not(:first-of-type),
.frgef--neo-page-builder-fixed-modal-special-pattern-d-right div:not(:first-of-type),
.frgef--neo-page-builder-fixed-modal-special-pattern-h-left div:not(:first-of-type),
.frgef--neo-page-builder-fixed-modal-special-pattern-i-right div:not(:first-of-type),
.frgef--neo-page-builder-fixed-modal-special-pattern-e-center div:not(:first-of-type),
.frgef--neo-page-builder-fixed-modal-special-pattern-f-right div:not(:first-of-type),
.frgef--neo-page-builder-fixed-modal-special-pattern-g-left div:not(:first-of-type) {
    width: calc(50% - 2px);
    margin-top: 4px;
}

.frgef--neo-page-builder-fixed-modal-special-pattern-b-left div,
.frgef--neo-page-builder-fixed-modal-special-pattern-a-right div,
.frgef--neo-page-builder-fixed-modal-special-pattern-d-left div,
.frgef--neo-page-builder-fixed-modal-special-pattern-c-right div,
.frgef--neo-page-builder-fixed-modal-special-pattern-i-left div,
.frgef--neo-page-builder-fixed-modal-special-pattern-h-right div,
.frgef--neo-page-builder-fixed-modal-special-pattern-e-left div,
.frgef--neo-page-builder-fixed-modal-special-pattern-e-right div,
.frgef--neo-page-builder-fixed-modal-special-pattern-f-left div,
.frgef--neo-page-builder-fixed-modal-special-pattern-f-center div,
.frgef--neo-page-builder-fixed-modal-special-pattern-g-right div,
.frgef--neo-page-builder-fixed-modal-special-pattern-g-center div {
    background-color: var(--warning-color);
    height: 100%;
    width: 100%;
}

.frgef--neo-page-builder-fixed-modal-sections-choices-examples-100 {
    width: 100%;
}

.frgef--neo-page-builder-fixed-modal-sections-choices-examples-80 {
    width: calc(80% - 2px);
}

.frgef--neo-page-builder-fixed-modal-sections-choices-examples-75 {
    width: calc(75% - 2px);
}

.frgef--neo-page-builder-fixed-modal-sections-choices-examples-66 {
    width: calc(66.66% - 2px);
}

.frgef--neo-page-builder-fixed-modal-sections-choices-examples-60 {
    width: calc(60% - 2px);
}

.frgef--neo-page-builder-fixed-modal-sections-choices-examples-50 {
    width: calc(50% - 2px);
}

.frgef--neo-page-builder-fixed-modal-sections-choices-examples-33 {
    width: calc(33.33% - 2px);
}

.frgef--neo-page-builder-fixed-modal-sections-choices-examples-25 {
    width: calc(25% - 2px);
}

.frgef--neo-page-builder-fixed-modal-sections-choices-examples-20 {
    width: calc(20% - 2px);
}

.frgef--neo-page-builder-fixed-modal-sections-choices-examples-16 {
    width: calc(16.66% - 2px);
}

.frgef--neo-page-builder-row-special-section {
    min-height: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frgef--neo-page-builder-row-special-section .frgef--neo-page-builder-initial-add-section-btn {
    position: unset;
}

.frgef--neo-page-builder-blocks-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.frgef--neo-page-builder-fixed-modal-blocks-choices-examples > svg {
    width: 16px;
    height: 16px;
    color: var(--row-color);
    margin-bottom: 5px;
}

.frgef--neo-page-builder-fixed-modal-blocks-choices-examples > svg path {
    fill: currentColor;
}

.frgef--neo-page-builder-blocks-draggable-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 5px;
}

.frgef--neo-page-builder-row-special-section > .frgef--neo-page-builder-initial-add-section-btn {
    margin-top: 25px;
}

#frgef--neo-page-builder-resizable-modal-container {
    position: fixed;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#frgef--neo-page-builder-resizable-modal {
    width: 100%;
    display: flex;
    height: 100%;
    min-height: 196px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color-1);
    position: relative;
}

#frgef--neo-page-builder-resizable-modal-header {
    padding: 21px 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--main-color);
    position: relative;
}

#frgef--neo-page-builder-resizable-modal-header-title {
    color: var(--bg-color-1);
    font-family: inherit;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#frgef--neo-page-builder-resizable-modal-header-title:not(.frgef--neo-page-builder-resizable-modal-header-title-page) {
    width: calc(100% - 108px);
}

.frgef--neo-page-builder-resizable-modal-header-title-page {
    width: calc(100% - 72px);
}

#frgef--neo-page-builder-resizable-modal-header-title p {
    margin: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#frgef--neo-page-builder-resizable-modal-header-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 14px;
    right: 14px;
    z-index: 2;
}

[data-mode="fullscreen"] #frgef--neo-page-builder-resizable-modal-header-icon-fullscreen path:last-child {
    display: none;
}

[data-mode="sidebar"] #frgef--neo-page-builder-resizable-modal-header-icon-fullscreen path:first-child,
[data-mode="standalone"] #frgef--neo-page-builder-resizable-modal-header-icon-fullscreen path:first-child {
    display: none;
}

.frgef--neo-page-builder-resizable-modal-header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 36px;
    height: 36px;
    border-radius: 3px;
}

.frgef--neo-page-builder-resizable-modal-header-icon:active {
    background-color: var(--main-hover-color);
}

.frgef--neo-page-builder-resizable-modal-header-icon:not(:active) {
    background-color: transparent;
    transition: background-color linear 0.2s;
}

.frgef--neo-page-builder-resizable-modal-header-icon svg {
    color: var(--text-color);
    width: 16px;
    height: 16px;
}

.frgef--neo-page-builder-resizable-modal-header-icon svg path {
    fill: currentColor;
}

#frgef--neo-page-builder-resizable-modal-footer {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.frgef--neo-page-builder-resizable-modal-footer-icon {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.frgef--neo-page-builder-resizable-modal-footer-icon span {
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    transform-origin: 50% 50%;
    border-radius: 200px;
    height: 200px;
    width: 200px;
    z-index: 1;
    transform: scale(0);
    opacity: 0;
    transition: transform linear 0.15s, opacity linear 0.05s;
}

.frgef--neo-page-builder-resizable-modal-footer-icon:active span {
    opacity: 1;
    transform: scale(1);
}

#frgef--neo-page-builder-resizable-modal-footer-icon-close {
    background-color: var(--danger-color);
}

#frgef--neo-page-builder-resizable-modal-footer-icon-backward {
    background-color: var(--main-color);
}

#frgef--neo-page-builder-resizable-modal-footer-icon-forward {
    background-color: var(--row-color);
}

#frgef--neo-page-builder-resizable-modal-footer-icon-check {
    background-color: var(--section-color);
}

.frgef--neo-page-builder-resizable-modal-footer-icon svg {
    width: 16px;
    height: 16px;
    color: var(--text-color);
}

.frgef--neo-page-builder-resizable-modal-footer-icon svg path {
    fill: currentColor;
    stroke: var(--text-color);
    stroke-width: 2em;
}

.frgef--neo-page-builder-fixed-modal-header-settings-list {
    list-style: none;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-size: 14px;
    font-weight: bold;
}

.frgef--neo-page-builder-fixed-modal-header-settings-list li {
    padding: 10px 20px;
    width: 100%;
    background-color: transparent;
    cursor: pointer;
    transition: background-color linear 0.2s;
}

.frgef--neo-page-builder-fixed-modal-header-settings-list li:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.frgef--neo-page-builder-fixed-modal-header-settings-list li:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.frgef--neo-page-builder-fixed-modal-header-settings-list li:not(:last-child) {
    border-bottom: 1px solid var(--placeholder-bg-dark-color);
}

#frgef--neo-page-builder-resizable-modal-header-body {
    padding: 20px;
    overflow-y: auto;
    height: 100%;
}

.npm-modal-text {
    margin: 0 0 20px 0;
    width: 100%;
    font-size: 14px;
}

.frgef--neo-page-builder-revisions-list {
    margin: 0;
    list-style: none;
    width: 100%;
    padding: 0;
}

.frgef--neo-page-builder-revision {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    border-radius: 4px;
    background-color: var(--warning-color);
    color: var(--text-color);
    position: relative;
    z-index: 1;
    transition: background-color linear 0.2s;
}

.frgef--neo-page-builder-revision span {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.frgef--neo-page-builder-revision:active, .frgef--neo-page-builder-revision.active {
    background-color: var(--section-color);
}

.frgef--neo-page-builder-revision.active:before {
    position: absolute;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 448 512'%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-width='2em' d='M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z'/%3E%3C/svg%3E");
    width: 38px;
    height: 36px;
    left: 0;
    top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.frgef--neo-page-builder-revision:not(:last-child) {
    margin-bottom: 10px;
}

@media only screen and (min-width: 781px) {

    .frgef--neo-page-builder-row-special-blocks-first .frgef--neo-page-builder-block,
    .frgef--neo-page-builder-row-special-blocks-first + .frgef--neo-page-builder-row-special-blocks:nth-child(3) .frgef--neo-page-builder-block {
        padding-right: 0;
        padding-left: 20px;
    }

    .frgef--neo-page-builder-row-special-blocks-last .frgef--neo-page-builder-block, .frgef--neo-page-builder-row-special-blocks:nth-child(3) .frgef--neo-page-builder-block {
        padding-left: 0;
    }

    .frgef--neo-page-builder-row-special-blocks-first .frgef--neo-page-builder-block-placeholder-regular,
    .frgef--neo-page-builder-row-special-blocks-first + .frgef--neo-page-builder-row-special-blocks:nth-child(3) .frgef--neo-page-builder-block-placeholder-regular {
        margin-left: 20px;
        margin-right: 0;
    }

    .frgef--neo-page-builder-row-special-blocks-first .frgef--neo-page-builder-add-block,
    .frgef--neo-page-builder-row-special-blocks-first + .frgef--neo-page-builder-row-special-blocks:nth-child(3) .frgef--neo-page-builder-add-block {
        margin-left: 20px;
        margin-right: 0;
    }

    .frgef--neo-page-builder-row-special-blocks-last .frgef--neo-page-builder-add-block, .frgef--neo-page-builder-row-special-blocks:nth-child(3) .frgef--neo-page-builder-add-block {
        margin-right: 20px;
    }

    .frgef--neo-page-builder-row-special-blocks-last .frgef--neo-page-builder-block-placeholder-regular, .frgef--neo-page-builder-row-special-blocks:nth-child(3) .frgef--neo-page-builder-block-placeholder-regular {
        margin-right: 20px;
    }

    .frgef--neo-page-builder-add-row:hover .frgef--neo-page-builder-button-bg, .frgef--neo-page-builder-add-section:hover .frgef--neo-page-builder-button-bg, .frgef--neo-page-builder-add-block:hover .frgef--neo-page-builder-button-bg {
        transform: scale(1.3);
    }

    .frgef--neo-page-builder-fixed-modal-choices-examples:hover,
    .frgef--neo-page-builder-fixed-modal-sections-choices-examples:hover,
    .frgef--neo-page-builder-fixed-modal-blocks-choices-examples:hover {
        transform: scale(1.1);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .frgef--neo-page-builder-fixed-modal {
        position: absolute;
        z-index: 999999;
        width: 360px;
        max-width: calc(100% - 20px);
        max-height: calc(100vh - 40px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        opacity: 1;
        transform-origin: 50% 50%;
    }

    .frgef--neo-page-builder-fixed-modal:not(.frgef--neo-page-builder-fixed-modal-above-target) {
        transform: scale(1);
        animation: bounceModal ease-out 0.8s;
    }

    .frgef--neo-page-builder-fixed-modal-above-target {
        transform: scale(1) translate(0, calc(-100% - 20px));
        animation: bounceModal2 ease-out 0.8s;
    }

    .frgef--neo-page-builder-fixed-modal:before {
        content: "";
        width: 20px;
        height: 20px;
        transform-origin: 50% 50%;
        transform: rotate(45deg);
        position: absolute;
        left: var(--frgef--neo-page-builder-left-value);
    }

    .frgef--neo-page-builder-fixed-modal:not(.frgef--neo-page-builder-fixed-modal-above-target):not(.frgef--neo-page-builder-fixed-modal-header-settings):before {
        top: 10px;
        background-color: var(--main-color);
        z-index: 1;
    }

    .frgef--neo-page-builder-fixed-modal-header-settings:before {
        top: 10px;
        background-color: var(--bg-color-5);
        z-index: 1;
    }

    .frgef--neo-page-builder-fixed-modal-header-settings.frgef--neo-page-builder-fixed-modal-above-target:before {
        background-color: var(--bg-color-5);
    }

    .frgef--neo-page-builder-fixed-modal:not(.frgef--neo-page-builder-fixed-modal-above-target) .frgef--neo-page-builder-fixed-modal-container {
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    }

    .frgef--neo-page-builder-fixed-modal.frgef--neo-page-builder-fixed-modal-above-target .frgef--neo-page-builder-fixed-modal-container {
        box-shadow: 0 -18px 24px rgba(0, 0, 0, 0.15)
    }

    .frgef--neo-page-builder-fixed-modal-container {
        margin-top: 20px;
        width: 360px;
        height: calc(100% - 20px);
    }

    .frgef--neo-page-builder-fixed-modal-above-target:before {
        bottom: -10px;
        z-index: 3;
    }

    .frgef--neo-page-builder-fixed-modal:not(.frgef--neo-page-builder-fixed-modal-header-settings).frgef--neo-page-builder-fixed-modal-above-target:before {
        background-color: var(--bg-color-1);
    }

    .frgef--neo-page-builder-fixed-modal-choices-container {
        max-height: 384px;
    }

    #frgef--neo-page-builder-resizable-modal-container {
        width: 480px;
        min-width: 381px;
        min-height: 196px;
        max-width: calc(100% - 20px);
        max-height: calc(100vh - 40px);
    }

    #frgef--neo-page-builder-resizable-modal-container:not([data-mode="sidebar"]) {
        animation: bounceModal ease-out 0.8s;
    }

    #frgef--neo-page-builder-resizable-modal-container[data-mode="standalone"] #frgef--neo-page-builder-resizable-modal {
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    }

    #frgef--neo-page-builder-resizable-modal-container[data-mode="standalone"] #frgef--neo-page-builder-resizable-modal-header {
        cursor: all-scroll;
    }

    [data-mode="standalone"] #frgef--neo-page-builder-resizable-modal-resizer {
        bottom: 7px;
        right: 10px;
        transform: translate(0, 0) scale(1);
        cursor: nwse-resize;
    }

    [data-mode="sidebar"] #frgef--neo-page-builder-resizable-modal-resizer {
        top: calc(50% - 16px);
        left: 8px;
        transform: translate(0, 0) scale(1);
        cursor: ew-resize;
    }

    #frgef--neo-page-builder-resizable-modal-resizer {
        position: absolute;
        z-index: 2;
        cursor: nwse-resize;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--text-color);
        background-color: var(--bg-color-4);
        border-radius: 200px;
        box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
        opacity: 0;
        transition: all linear 0.15s;
    }

    [data-mode="standalone"] #frgef--neo-page-builder-resizable-modal:hover #frgef--neo-page-builder-resizable-modal-resizer,
    [data-mode="standalone"] #frgef--neo-page-builder-resizable-modal-resizer.frgef--neo-page-builder-resizable-modal-resizer-show {
        opacity: 1;
        transform: translate(22px, 17px) scale(1.1);
    }

    [data-mode="sidebar"] #frgef--neo-page-builder-resizable-modal:hover #frgef--neo-page-builder-resizable-modal-resizer,
    [data-mode="sidebar"] #frgef--neo-page-builder-resizable-modal-resizer.frgef--neo-page-builder-resizable-modal-resizer-show {
        opacity: 1;
        transform: translate(-23px, 0) scale(1.1);
    }

    [data-mode="standalone"] #frgef--neo-page-builder-resizable-modal-resizer svg {
        transform: rotate(-45deg);
    }

    [data-mode="sidebar"] #frgef--neo-page-builder-resizable-modal-resizer svg {
        transform: rotate(-90deg);
    }

    #frgef--neo-page-builder-resizable-modal-resizer svg {
        width: 16px;
        height: 16px;
        color: var(--text-color);
        transform-origin: 50% 50%;
    }

    #frgef--neo-page-builder-resizable-modal-resizer svg path {
        fill: currentColor;
    }

    #frgef--neo-page-builder-resizable-modal-container[data-mode="sidebar"] {
        top: 0!important;
        left: unset!important;
        right: 0;
        height: 100vh!important;
        z-index: 999999;
        max-height: unset;
    }

    #frgef--neo-page-builder-resizable-modal-container[data-mode="fullscreen"] #frgef--neo-page-builder-resizable-modal-resizer {
        display: none;
    }

    #frgef--neo-page-builder-resizable-modal-container[data-mode="fullscreen"] {
        top: 0!important;
        left: 0!important;
        width: 100vw!important;
        height: 100vh!important;
        max-width: unset!important;
        max-height: unset!important;
        padding: 80px 40px;
        background-color: var(--placeholder-bg-white-color);
        animation: bounceModal ease-out 0.6s;
    }

    #frgef--neo-page-builder-fixed-modal-header-action .frgef--neo-page-builder-fixed-modal-container {
        margin-top: 40px;
    }

    #frgef--neo-page-builder-fixed-modal-header-action:not(.frgef--neo-page-builder-fixed-modal-above-target):before {
        top: 30px;
    }

    #frgef--neo-page-builder-fixed-modal-block-choice {
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    }

    .frgef--neo-page-builder-fixed-modal-header-settings-list li:hover {
        background-color: var(--bg-color-6);
    }
}

@media only screen and (min-width: 491px) and (max-width: 780px) {

    .frgef--neo-page-builder-blocks-wrapper, .frgef--neo-page-builder-row-special-blocks, .frgef--neo-page-builder-row-special-section {
        width: 100% !important;
    }

    .frgef--neo-page-builder-add-row:active .frgef--neo-page-builder-button-bg, .frgef--neo-page-builder-add-section:active .frgef--neo-page-builder-button-bg, .frgef--neo-page-builder-add-block:active .frgef--neo-page-builder-button-bg {
        transform: scale(1.5);
    }

    .frgef--neo-page-builder-fixed-modal-choices-examples:active,
    .frgef--neo-page-builder-fixed-modal-sections-choices-examples:active,
    .frgef--neo-page-builder-fixed-modal-blocks-choices-examples:active {
        transform: scale(1.4);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .frgef--neo-page-builder-fixed-modal {
        position: absolute;
        z-index: 999999;
        width: 360px;
        max-width: calc(100% - 20px);
        max-height: calc(100vh - 40px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        opacity: 1;
        transform-origin: 50% 50%;
    }

    .frgef--neo-page-builder-fixed-modal:not(.frgef--neo-page-builder-fixed-modal-above-target) {
        transform: scale(1);
        animation: bounceModal ease-out 0.8s;
    }

    .frgef--neo-page-builder-fixed-modal-above-target {
        transform: scale(1) translate(0, calc(-100% - 20px));
        animation: bounceModal2 ease-out 0.8s;
    }

    .frgef--neo-page-builder-fixed-modal:before {
        content: "";
        width: 20px;
        height: 20px;
        transform-origin: 50% 50%;
        transform: rotate(45deg);
        position: absolute;
        left: var(--frgef--neo-page-builder-left-value);
    }

    .frgef--neo-page-builder-fixed-modal:not(.frgef--neo-page-builder-fixed-modal-above-target):not(.frgef--neo-page-builder-fixed-modal-header-settings):before {
        top: 10px;
        background-color: var(--main-color);
        z-index: 1;
    }

    .frgef--neo-page-builder-fixed-modal:not(.frgef--neo-page-builder-fixed-modal-above-target) .frgef--neo-page-builder-fixed-modal-container {
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    }

    .frgef--neo-page-builder-fixed-modal.frgef--neo-page-builder-fixed-modal-above-target .frgef--neo-page-builder-fixed-modal-container {
        box-shadow: 0 -18px 24px rgba(0, 0, 0, 0.15)
    }

    .frgef--neo-page-builder-fixed-modal-header-settings:before {
        top: 10px;
        background-color: var(--bg-color-5);
        z-index: 1;
    }

    .frgef--neo-page-builder-fixed-modal-header-settings.frgef--neo-page-builder-fixed-modal-above-target:before {
        background-color: var(--bg-color-5);
    }

    .frgef--neo-page-builder-fixed-modal-container {
        margin-top: 20px;
        width: 360px;
        height: calc(100% - 20px);
    }

    .frgef--neo-page-builder-fixed-modal-above-target:before {
        bottom: -10px;
        z-index: 3;
    }

    .frgef--neo-page-builder-fixed-modal:not(.frgef--neo-page-builder-fixed-modal-header-settings).frgef--neo-page-builder-fixed-modal-above-target:before {
        background-color: var(--bg-color-1);
    }

    .frgef--neo-page-builder-fixed-modal-choices-container {
        max-height: 384px;
    }

    #frgef--neo-page-builder ::-webkit-scrollbar {
        display: none;
    }

    #frgef--neo-page-builder-wrapper {
        width: 100% !important;
    }

    #frgef--neo-page-builder-resizable-modal-resizer {
        display: none!important;
    }

    #frgef--neo-page-builder-resizable-modal-container {
        top: 0!important;
        left: 0!important;
        width: 100%!important;
        height: 100%!important;
        padding: 20px 10px;
        background-color: var(--placeholder-bg-white-color);
    }

    #frgef--neo-page-builder-resizable-modal-container:not([data-mode="sidebar"]) {
        animation: bounceModal ease-out 0.6s;
    }

    #frgef--neo-page-builder-resizable-modal-header-icons {
        display: none;
    }

    #frgef--neo-page-builder-fixed-modal-header-action .frgef--neo-page-builder-fixed-modal-container {
        margin-top: 40px;
    }

    #frgef--neo-page-builder-fixed-modal-header-action:not(.frgef--neo-page-builder-fixed-modal-above-target):before {
        top: 30px;
    }

    #frgef--neo-page-builder-fixed-modal-block-choice {
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    }

    .frgef--neo-page-builder-fixed-modal-header-settings-list li:hover {
        background-color: var(--bg-color-6);
    }
}

@media only screen and (max-width: 490px) {

    #frgef--neo-page-builder-rows-wrapper {
        padding: 0 10px 20px;
    }

    .frgef--neo-page-builder-section {
        width: calc(100% - 20px);
    }

    .frgef--neo-page-builder-block {
        padding: 0 10px;
    }

    .frgef--neo-page-builder-blocks-wrapper, .frgef--neo-page-builder-row-special-blocks, .frgef--neo-page-builder-row-special-section {
        width: 100% !important;
    }

    .frgef--neo-page-builder-add-row:active .frgef--neo-page-builder-button-bg, .frgef--neo-page-builder-add-section:active .frgef--neo-page-builder-button-bg, .frgef--neo-page-builder-add-block:active .frgef--neo-page-builder-button-bg {
        transform: scale(1.5);
    }

    .frgef--neo-page-builder-fixed-modal-choices-examples:active,
    .frgef--neo-page-builder-fixed-modal-sections-choices-examples:active,
    .frgef--neo-page-builder-fixed-modal-blocks-choices-examples:active {
        transform: scale(1.4);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .frgef--neo-page-builder-fixed-modal {
        position: fixed;
        top: 0!important;
        left: 0!important;
        z-index: 999999;
        height: 100vh;
        padding: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        background-color: var(--placeholder-bg-white-color);
        animation: mobileModal ease-out 0.3s;
    }

    @keyframes mobileModal {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }

    .frgef--neo-page-builder-fixed-modal-container {
        width: 100%;
        max-height: calc(100% - 20px);
    }

    .frgef--neo-page-builder-fixed-modal-choices-container {
        max-height: calc(100vh - 118px);
    }

    #frgef--neo-page-builder ::-webkit-scrollbar {
        display: none;
    }

    #frgef--neo-page-builder-wrapper {
        width: 100% !important;
    }

    #frgef--neo-page-builder-resizable-modal-resizer {
        display: none!important;
    }

    #frgef--neo-page-builder-resizable-modal-container {
        top: 0!important;
        left: 0!important;
        width: 100%!important;
        height: 100%!important;
        padding: 20px 10px;
        background-color: var(--placeholder-bg-white-color);
    }

    #frgef--neo-page-builder-resizable-modal-container:not([data-mode="sidebar"]) {
        animation: bounceModal ease-out 0.6s;
    }

    #frgef--neo-page-builder-resizable-modal-header-icons {
        display: none;
    }

    .frgef--neo-page-builder-fixed-modal-container {
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    }
}
