<div id="npb-fixed-modal-header-action" class="npb-fixed-modal npb-fixed-modal-header-settings" data-uuid="{{ uuid }}">
    <div class="npb-fixed-modal-container">
        <ul class="npb-fixed-modal-header-settings-list">
            <li>Test 1</li>
            <li>Test 2</li>
            <li>Test 3</li>
            <li>Test 4</li>
        </ul>
    </div>
</div>