<div class="npb-fixed-modal-sections-choices-examples" data-model="pattern-i">
    <div class="npb-fixed-modal-sections-choices-examples-25"></div>
    <div class="npb-fixed-modal-sections-choices-examples-75"></div>
</div>