<div class="frgef--neo-page-builder-fixed-modal-sections-choices-examples" data-model="pattern-f">
    <div class="frgef--neo-page-builder-fixed-modal-sections-choices-examples-16"></div>
    <div class="frgef--neo-page-builder-fixed-modal-sections-choices-examples-16"></div>
    <div class="frgef--neo-page-builder-fixed-modal-sections-choices-examples-16"></div>
    <div class="frgef--neo-page-builder-fixed-modal-sections-choices-examples-16"></div>
    <div class="frgef--neo-page-builder-fixed-modal-sections-choices-examples-16"></div>
    <div class="frgef--neo-page-builder-fixed-modal-sections-choices-examples-16"></div>
</div>