<div class="npb-fixed-modal-sections-choices-examples" data-model="pattern-b">
    <div class="npb-fixed-modal-sections-choices-examples-50"></div>
    <div class="npb-fixed-modal-sections-choices-examples-50"></div>
</div>