<div class="npb-fixed-modal-sections-choices-examples" data-model="pattern-r">
    <div class="npb-fixed-modal-sections-choices-examples-60"></div>
    <div class="npb-fixed-modal-sections-choices-examples-20"></div>
    <div class="npb-fixed-modal-sections-choices-examples-20"></div>
</div>