<div class="npb-fixed-modal-sections-choices-examples" data-model="pattern-p">
    <div class="npb-fixed-modal-sections-choices-examples-50"></div>
    <div class="npb-fixed-modal-sections-choices-examples-25"></div>
    <div class="npb-fixed-modal-sections-choices-examples-25"></div>
</div>