<div class="frgef--neo-page-builder-fixed-modal-sections-choices-examples" data-model="pattern-h">
    <div class="frgef--neo-page-builder-fixed-modal-sections-choices-examples-66"></div>
    <div class="frgef--neo-page-builder-fixed-modal-sections-choices-examples-33"></div>
</div>