<div class="npb-fixed-modal-sections-choices-examples" data-model="pattern-k">
    <div class="npb-fixed-modal-sections-choices-examples-20"></div>
    <div class="npb-fixed-modal-sections-choices-examples-80"></div>
</div>