<div class="frgef--neo-page-builder-fixed-modal-sections-choices-examples" data-model="pattern-q">
    <div class="frgef--neo-page-builder-fixed-modal-sections-choices-examples-20"></div>
    <div class="frgef--neo-page-builder-fixed-modal-sections-choices-examples-20"></div>
    <div class="frgef--neo-page-builder-fixed-modal-sections-choices-examples-60"></div>
</div>