<div class="npb-fixed-modal-sections-choices-examples" data-model="pattern-g">
    <div class="npb-fixed-modal-sections-choices-examples-33"></div>
    <div class="npb-fixed-modal-sections-choices-examples-66"></div>
</div>