<div class="npb-fixed-modal-sections-choices-examples" data-model="pattern-s">
    <div class="npb-fixed-modal-sections-choices-examples-16"></div>
    <div class="npb-fixed-modal-sections-choices-examples-16"></div>
    <div class="npb-fixed-modal-sections-choices-examples-16"></div>
    <div class="npb-fixed-modal-sections-choices-examples-50"></div>
</div>