<div class="frgef--neo-page-builder-fixed-modal-sections-choices-examples" data-model="pattern-m">
    <div class="frgef--neo-page-builder-fixed-modal-sections-choices-examples-25"></div>
    <div class="frgef--neo-page-builder-fixed-modal-sections-choices-examples-50"></div>
    <div class="frgef--neo-page-builder-fixed-modal-sections-choices-examples-25"></div>
</div>