:root {
    --main-value: 108, 46, 185;
    --main-hover-value: 174, 133, 224;
    --row-value: 43, 135, 218;
    --section-value: 41, 196, 169;
    --block-value: 76, 88, 102;
    --full-block-value: 153, 51, 102;
    --danger-value: 239, 85, 85;
    --warning-value: 255, 146, 50;
    --gold-value: 235, 195, 52;
    --white-value: 255, 255, 255;
    --dark-value: 89, 89, 89;

    --main-color: rgb(var(--main-value));
    --main-hover-color: rgb(var(--main-hover-value));
    --row-color: rgb(var(--row-value));
    --section-color: rgb(var(--section-value));
    --block-color: rgb(var(--block-value));
    --full-block-color: rgb(var(--full-block-value));
    --danger-color: rgb(var(--danger-value));
    --warning-color: rgb(var(--warning-value));
    --gold-color: rgb(var(--gold-value));
    --white-color: rgb(var(--white-value));
    --text-color: rgb(var(--white-value));
    --dark-color: rgb(var(--dark-value));

    --placeholder-bg-main-color: rgba(var(--main-value), 0.1);
    --placeholder-bg-row-color: rgba(var(--row-value), 0.1);
    --placeholder-bg-section-color: rgba(var(--section-value), 0.1);
    --placeholder-bg-block-color: rgba(var(--block-value), 0.4);
    --placeholder-bg-full-block-color: rgba(var(--full-block-value), 0.4);
    --placeholder-bg-warning-color: rgba(var(--warning-value), 0.1);
    --placeholder-bg-gold-color: rgba(var(--gold-value), 0.1);
    --placeholder-bg-white-color: rgba(var(--white-value), 0.4);
    --placeholder-bg-dark-color: rgba(var(--white-value), 0.2);

    --bg-color-1: var(--white-color);
    --bg-color-2: #F6F9FB;
    --bg-color-3: #e1e1e1;
    --bg-color-4: #a1a1a1;
    --bg-color-5: var(--dark-color);
    --bg-color-6: #808080;
}