<div class="frgef--neo-page-builder-fixed-modal-choices-examples" data-model="normal">
    <div class="frgef--neo-page-builder-fixed-modal-choices-normal-row"></div>
    <div class="frgef--neo-page-builder-fixed-modal-choices-normal-row-center">
        <span>{{ 'normal'|trans }}</span>
    </div>
    <div class="frgef--neo-page-builder-fixed-modal-choices-normal-row"></div>
</div>
