<div class="frgef--neo-page-builder-fixed-modal-choices-examples frgef--neo-page-builder-fixed-modal-choices-examples-special">
    <div class="frgef--neo-page-builder-fixed-modal-choices-special-row-left">
        <span>{{ 'special'|trans }}</span>
    </div>
    <div class="frgef--neo-page-builder-fixed-modal-choices-special-row-right"></div>
</div>
<div class="frgef--neo-page-builder-fixed-modal-choices-examples-special-details frgef--neo-page-builder-fixed-modal-hide-elements">
    {% for pattern in 'a'..'i' %}
        {% include '@!NeoPageBuilder/components/modals/choices/specials/pattern-' ~ pattern ~'.html.twig' %}
    {% endfor %}
</div>
